/* varibles */
/* copied from bootstrap */
/* copy ends */
.btn-teal {
  color: #333333;
  background-color: #15b4ce;
  border-color: #cccccc;
}
.btn-teal:hover,
.btn-teal:focus,
.btn-teal.focus,
.btn-teal:active,
.btn-teal.active,
.open > .dropdown-toggle.btn-teal {
  color: #333333;
  background-color: #108ca0;
  border-color: #adadad;
}
.btn-teal:active,
.btn-teal.active,
.open > .dropdown-toggle.btn-teal {
  background-image: none;
}
.btn-teal.disabled,
.btn-teal[disabled],
fieldset[disabled] .btn-teal,
.btn-teal.disabled:hover,
.btn-teal[disabled]:hover,
fieldset[disabled] .btn-teal:hover,
.btn-teal.disabled:focus,
.btn-teal[disabled]:focus,
fieldset[disabled] .btn-teal:focus,
.btn-teal.disabled.focus,
.btn-teal[disabled].focus,
fieldset[disabled] .btn-teal.focus,
.btn-teal.disabled:active,
.btn-teal[disabled]:active,
fieldset[disabled] .btn-teal:active,
.btn-teal.disabled.active,
.btn-teal[disabled].active,
fieldset[disabled] .btn-teal.active {
  background-color: #15b4ce;
  border-color: #cccccc;
}
.btn-teal .badge {
  color: #15b4ce;
  background-color: #333333;
}
.btn-purple {
  color: #333333;
  background-color: #963378;
  border-color: #cccccc;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple.focus,
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  color: #333333;
  background-color: #70265a;
  border-color: #adadad;
}
.btn-purple:active,
.btn-purple.active,
.open > .dropdown-toggle.btn-purple {
  background-image: none;
}
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled.focus,
.btn-purple[disabled].focus,
fieldset[disabled] .btn-purple.focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #963378;
  border-color: #cccccc;
}
.btn-purple .badge {
  color: #963378;
  background-color: #333333;
}
.btn-blue {
  color: #333333;
  background-color: #073466;
  border-color: #cccccc;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #333333;
  background-color: #041c36;
  border-color: #adadad;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #073466;
  border-color: #cccccc;
}
.btn-blue .badge {
  color: #073466;
  background-color: #333333;
}
.white {
  background-color: white;
}
.brown {
  color: #7c634b !important;
  border-bottom-color: #7c634b !important;
}
.purple {
  color: #963378;
}
.error {
  color: #FF0000;
  /*font-weight: bold;*/
}
@media (min-width: 992px) {
  .adjust-padding {
    margin-top: -20px;
    margin-bottom: 10px;
  }
}
.cart {
  font-size: 16px;
  /* order summary page */
}
.cart table {
  width: 100%;
  font-size: 15px;
}
@media (min-width: 992px) {
  .cart table {
    margin: 25px 0;
  }
}
.cart table tr:first-child td {
  padding-bottom: 5px;
  border-bottom: 1pt solid black;
}
.cart table tr:not(first-child) td {
  padding: 15px 4px;
  border-bottom: 1px dotted #999;
}
.cart table tr:nth-last-child(-n+2) td {
  border-bottom: none;
}
.cart table tr:last-child td {
  background-color: #15b4ce;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart table tr:last-child td:first-child {
  text-align: right;
  padding-right: 10px;
}
.cart table td:first-child {
  padding-left: 10px;
}
.cart table td:nth-child(3),
.cart table td:nth-child(4) {
  text-align: center;
}
.cart table td:nth-child(5) {
  text-align: right;
  padding-right: 10px;
}
.cart .button-row {
  margin-top: 20px;
}
.cart .button-row .right {
  text-align: right;
}
.cart .btn {
  border: 0;
  border-radius: 0;
  color: white;
  padding: 13px 20px 10px 20px;
  font-size: 17px;
  font-family: "Fjalla One", "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .cart .btn {
    padding: 13px 30px 10px 30px;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .cart .btn {
    padding: 15px 35px 12px 35px;
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .cart .btn {
    padding: 16px 35px 13px 35px;
  }
}
.cart .btn:hover,
.cart .btn:active,
.cart .btn:focus {
  color: #f5f5f5;
}
.cart .btn img {
  vertical-align: initial;
  padding-left: 10px;
}
.cart .more-info {
  margin-top: 40px;
  margin-bottom: 10px;
  border: 1px solid #b4bbbe;
  text-align: center;
  padding-bottom: 5px;
}
@media (min-width: 992px) {
  .cart .more-info {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}
.cart .more-info .title {
  color: #963378;
  font-size: 18px;
  margin-bottom: -2px;
}
.cart .checkout .title-line {
  color: #963378;
  padding-bottom: 6px;
  border-bottom: 1px solid #963378;
  margin-top: 20px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .cart .checkout .title-line {
    margin-top: 40px;
  }
}
.cart .checkout .title-line a {
  color: #15b4ce;
}
.cart .checkout .title-line a img {
  vertical-align: baseline;
  margin-left: 4px;
}
.cart .checkout p {
  padding-left: 10px;
}
.cart .checkout .subtitle {
  font-size: 20px;
}
@media (min-width: 992px) {
  .cart .checkout .text-padding {
    padding-left: 4px;
  }
}
.table-row div {
  padding-left: 15px;
}
.table-row div > div {
  padding-top: 5px;
}
@media (min-width: 768px) {
  .table-row div > div {
    padding-top: 15px;
  }
}
.table-row div > div:first-child {
  padding-top: 15px;
}
/* override table */
@media (min-width: 768px) {
  .client-address tr:not(:first-child) td:first-child {
    padding-left: 50px;
  }
}
.client-address tr:last-child td {
  border-top: 1px dotted #999;
  background-color: white !important;
  color: #546269 !important;
}
.client-address tr:last-child td:first-child {
  text-align: left !important;
}
.client-address .email-restriction {
  font-size: 13px;
  margin-left: 8px;
}
.checkout {
  margin-top: 5px !important;
  /* all children up to the Xth position */
}
@media (min-width: 992px) {
  .checkout {
    margin-bottom: 15px !important;
  }
}
.checkout .no-border {
  border-bottom: none;
  padding: 5px 10px 5px;
}
.checkout .reduce-padding {
  padding-top: 6px;
  padding-bottom: 0;
}
.checkout tr:nth-last-child(-n+3) td {
  border-bottom: none;
  text-align: right;
}
.checkout tr:last-child {
  /* all children from the Xth position onward */
  /*td:nth-child(n+2) {
        }*/
}
.checkout tr:last-child td {
  background-color: white !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  color: #963378 !important;
  font-weight: bold;
}
.payment {
  margin-top: 0 !important;
  margin-bottom: -10px;
}
@media (min-width: 992px) {
  .payment {
    margin-bottom: 25px;
  }
}
.payment tr:first-child td {
  padding-bottom: 15px !important;
  border-bottom: 1px dotted #999 !important;
}
.payment tr:nth-last-child(n+2) td {
  border-bottom: 1px dotted #999 !important;
  text-align: left;
}
.payment tr:last-child td {
  text-align: left !important;
  color: #546269 !important;
  font-weight: 400;
}
.client-note {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.top-margin {
  margin-top: -20px !important;
}
@media print {
  header,
  footer,
  .no-print {
    display: none;
  }
}
@media (max-width: 430px) {
  .hide-xxs {
    display: none;
  }
}
.menu-small {
  margin-top: 0;
}
/*# sourceMappingURL=style.css.map */